@use "../../config/_variable.scss" as *;
@use "../../config/_mixin.scss" as *;

.card-booking{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    background: linear-gradient(90deg, #0FD7BD 2.91%, #129B89 67.38%);
    border-radius: 24px;
    overflow: hidden;

    &__info-container{
        grid-column: 1/6;
        grid-row: 1;
        padding: 47px 16px 47px 66px;
        z-index: 2;
    }

    &__image-container{
        grid-column: 5/13;
        grid-row: 1;
        height: 100%;
        z-index: 1;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title{
        margin-bottom: 32px;
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        text-transform: capitalize;
        color: $neutral-100;
    }

    @media only screen and (max-width:1399.98px) {
        &__info-container{
            grid-column: 1/7;
            padding: 42px 16px 42px 50px;
        }
    
        &__image-container{
            grid-column: 5/13;
        }
    
        &__title{
            margin-bottom: 24px;
            font-size: 37px;
            line-height: 42px;
        }
    }

    @media only screen and (max-width: 1199.98px) {
        &__info-container{
            grid-column: 1/9;
            padding: 24px 16px 24px 42px;
        }

        &__title{
            margin-bottom: 22px;
            font-size: 32px;
        }
    }

    @media only screen and (max-width: 991.98px) {
        &__info-container{
            grid-column: 1/13;
            padding: 24px 32px;
        }

        &__title{
            margin-bottom: 18px;
            font-size: 27px;
        }
    }

    @media only screen and (max-width: 767.98px) {
        background: linear-gradient(90deg, #0FD7BD 2.91%, #129B89 67.38%);
        border-radius: 24px;
        &__info-container{
            padding: 48px 24px;
        }
        &__image-container {
            grid-column: 1/13;
            grid-row: 2;
        }
        &__title{
            font-weight: 700;
            font-size: 30px;
            line-height: 40px;
        }
    }
}