@use "../../config/_variable.scss" as *;
@use "../../config/_mixin.scss" as *;

.card-one{
    position: relative;
    @include imageRatio(502,512);

    &:hover  &__image{
        transform: scale(1.2);
    }

    &__image-container{
        margin-bottom: 35px;
        overflow: hidden;
    }

    &__image{
        transition: 1s ease;
    }

    &__category{
        margin-bottom: 35px;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.385em;
        color: $black; 
    }

    &__title{
        font-family: $secondary-font;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color:$black
    }

    @media only screen and (max-width: 991.98px) {
        &__image-container{
            margin-bottom: 18px;
        }

        &__category{
            margin-bottom: 18px;
        }
    }

    @media only screen and (max-width: 767.98px) {
        &::before{
            content: '';
            position: absolute;
            left: 50%;
            bottom: -37px;
            width: 60%;
            height: 1px;
            transform: translateX(-50%);
            border: 2px dashed rgba(0, 0, 0, 0.14);

        }
    }
}
