@use "../config/_variable.scss" as *;
@use "../config/_mixin.scss" as *;

.footer {
	@include imageRatio(205,205,true,cover,'gallery-image');
	background: rgba(134, 126, 111, 0.7);
	&__grid{
		margin-bottom: 100px;
		display: grid;
		grid-template-columns: repeat(12,1fr);
		gap: 31px;
	}
	&__gallery-container{
		grid-column: 1/5;
		display: grid;
		grid-template-columns: repeat(2,1fr);
		gap: 31px;
		grid-row: span 2;
	}
	&__gallery-image-container{
		display: inline-block;
	}

	&__info{
		grid-column: 6/13;
		color: $white;
		border-bottom: 1px solid $white;
	}

	&__menu-container{
		grid-column: 6/13;
		display: flex;
		justify-content: space-between;
	}

	&__menu-title{
		margin-bottom: 26px;
		font-weight: 400;
		font-size: 24px;
		line-height: 30px;
		color: $white;
		font-family: $secondary-font;
	}

	&__menus{
		margin: 0px;
		list-style: none;
		padding: 0px;
	}
	&__menu-item{
		margin-bottom: 4px;
	}
	&__menu-link{
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 0.385em;
		color: $white;
		text-transform: uppercase;
	}

	&__social-container{
		text-align: right;
	}

	&__social-icon{
		margin-bottom: 0px;
		list-style: none;
		padding: 0px;
	}

	&__social-item{
		display: inline-block;
		margin-right: 15px;
		&:last-child{
			margin-right: 0px;
		}
	}

	@media only screen and (max-width: 991.98px) {
		&__gallery-container{
			display: none;
		}
		&__info{
			padding-bottom: 32px;
			grid-column: 1/13;
		}
	
		&__menu-container{
			grid-column: 1/13;
		}

		&__social-container{
			margin-bottom: 32px;
			order: 1;
			text-align: center;
		}
	
	}

	@media only screen and (max-width: 767.98px) {
		&__grid{
			margin-bottom: 42px;
			grid-template-columns: repeat(1,1fr);
			gap: 42px;
		}
		&__info{
			display: none;
		}
		&__menu-container{
			grid-column: 1;
			display: grid;
			grid-template-columns: 1fr;
			gap: 42px;
		}
		&__menu-title{
			margin-bottom: 14px;
		}
	}
}

.footer-copyright{
	display: grid;
	grid-template-columns: auto 20% 15%;
	align-items: center;
	background: #B6B2A9;
	padding: 56px 60px;
	color: $white;

	a{
		color: $white;
	}

	&__text{
		margin-bottom: 0px;
	}

	@media only screen and (max-width: 991.98px) {
		text-align: center;
		grid-template-columns: 1fr;
		justify-content: center;

		&__left{
			order: 2;
			margin-bottom: 32px;
		}

		&__right{
			order: 3;
		}
	}
}

