@use "../config/_variable.scss" as *;

label {
	font-family: $secondary-font;
	font-weight: 400;
	font-size: 12px;
	line-height: 211.5%;
	color: $black;
}


/*-----------------------------------------
//////////////// FORM SETUP ///////////////
-----------------------------------------*/

.form-control-custom,
.input-text  {
	width: 100%;
	padding: 12px 16px;
	border-radius: 6px;
	box-sizing: border-box;
	transition: 0.4s ease;
	border: 2px solid #867E6F;
	background-color: transparent;

	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	color: $neutral-60;

	&:focus {
		border: 2px solid #867E6F;
		background-color: $white;
	}

	&::placeholder{
		color: $neutral-60;
	}

	&.wpcf7-not-valid{
		border: 2px solid #CB3A31;
	}
}

.wpcf7-textarea{
	max-height: 130px;
}

.wpcf7 form .wpcf7-response-output {
    margin-left: 0px;
	margin-right: 0px;
}
/*-----------------------------------------
//////////////////////////////// FORM SETUP
-----------------------------------------*/


.form-subscriber{
	.form-control-custom{
		border: none;
		padding: 16px 0px;
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 0.385em;
		text-transform: uppercase;
		color: #000000;
		box-shadow: none;

		&::placeholder{
			text-transform: uppercase;
			font-weight: 400;
			font-size: 12px;
			line-height: 15px;
			letter-spacing: 0.385em;
			text-transform: uppercase;
			color: #000000;

		}
	}

	&__form-wrapper{
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		&:first-child{
			border-top: 1px solid rgba(0, 0, 0, 0.1);;
		}
	}

	&__btn-wrapper{
		margin-top: 25px;
	}

	@media only screen and (max-width: 991.98px) {
		.wpcf7-not-valid-tip{
			text-align: center
		}
	}
}

