@use "../config/variable" as *;
@use "../config/mixin" as *;
/*-----------------------------------------
/////////////// PAGE HEADER ///////////////
-----------------------------------------*/

.page-header{
	position: relative;
	@include imageRatio(1728,608);

	&__container{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
	}

	&__title{
		margin-bottom: 16px;
		font-size: 64px;
		font-family: $secondary-font;
		color: $white;
	}

	&__subtitle{
		margin-bottom: 21px;
		font-family: $secondary-font;
		font-weight: 400;
		font-size: 18px;
		line-height: 146.5%;
		text-align: center;
		text-transform: capitalize;
		color: $white;
	}

	&__description{
		font-weight: 400;
		font-size: 16px;
		line-height: 211.5%;
		text-align: center;
		text-indent: 4px;
		color: $white;
	}

	@media only screen and (max-width: 1399.98px) {
		@include imageRatio(1728,970);
	}

	@media only screen and (max-width: 1199.98px) {
		&__title{
			font-size: 47px;
		}
	}

	@media only screen and (max-width: 991.98px) {
		@include imageRatio(900,820);
		&__title{
			font-size: 42px;
		}
	}

	@media only screen and (max-width: 767.98px) {
		@include imageRatio(767,970);

		&__title{
			font-weight: 400;
			font-size: 39px;
			line-height: 146.5%;
		}

		&__subtitle{
			font-weight: 400;
			font-size: 17px;
		}

		&__description{
			font-weight: 400;
			font-size: 15px;
			line-height: 211.5%;
		}
	}

	@media only screen and (max-width: 575.98px) {
		@include imageRatio(430,650);
		&__title{
			font-size: 32px;
			line-height: 146.5%;
		}
	}
	
}
/*-----------------------------------------
/////////////////////////// PAGE HEADER END
-----------------------------------------*/